<!DOCTYPE html>
<html>
	<head>
		<title>Pagina principal Biblioteca</title>
	</head>
	<body>
	  <div class="row">
		<div class="col-xs-12" align="center">
		  <h1>BIENVENIDOS A BIBLIOTECA</h1>
		</div>
	  </div>
	</body>
</html>